{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<h1>About App</h1>
<h3>Description</h3>
<p class="desc">Automated Paper Evaluator for EFL is an automated paper tool dedicated to English as Foreign Language (EFL) users. 
    The measures are contextualized for EFL's academic writing.</p>
<div class="container-lg">
    <h2>How this works?</h2>
    <p>input essay -> ai scoring -> display grade</p>
</div>
<footer>
    <h4>Contact Us</h4>
    <p>
        <i class="fa-solid fa-phone"></i>
        08152788970
    </p>
    <p>
        <i class="fa-brands fa-whatsapp"></i>
        08152788970
    </p>
</footer>
{% endblock %}