{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block nav %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <div class="container text-center">
        <div class="row align-items-center">
          <div class="col">
            <div class="col-lg-6">
                <h1>REGISTER</h1>
            </div>
          </div>
          <div class="col">
            <div class="container-fluid">
                <div class="col-lg-6">
                    <div class="row g-3">
                        <p>Please enter the 4-digit OTP code we sent to your email:</p>
                        <input type="password" class="form-control" aria-label="OTP">
                        <button>Enter</button>
                    </div>
                   
                </div>
              </div>
          </div>  
        </div>
      </div>  
    </div>

{% endblock %}